Amylap1_1_AssemblyScaffolds
Amysub1_AssemblyScaffolds
Anoalb1_AssemblyScaffolds
Anobom1_AssemblyScaffolds
Anomyc1_AssemblyScaffolds
Antcit1_AssemblyScaffolds
Antser1_AssemblyScaffolds
Antsi1_AssemblyScaffolds
Aphpse1_AssemblyScaffolds
Armbor1_AssemblyScaffolds
Armga1_AssemblyScaffolds
Armme1_1_AssemblyScaffolds
Armost1_AssemblyScaffolds
Armosto1_AssemblyScaffolds
Artel1_AssemblyScaffolds
Note
out
outAmylap1
outAmysub
Polomics_species_info.xlsx
result.zip
sequences
Velabi1_AssemblyScaffolds.gbk
Velabi1_AssemblyScaffolds.gbk.gz
.idea/.gitignore
.idea/Alex_sm.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
Abobie1_antismash_results/Abobie1_AssemblyScaffolds.gbk
Abobie1_antismash_results/Abobie1_AssemblyScaffolds.json
Abobie1_antismash_results/Abobie1_AssemblyScaffolds.zip
Abobie1_antismash_results/clusterblastoutput.txt
Abobie1_antismash_results/index.html
Abobie1_antismash_results/knownclusterblastoutput.txt
Abobie1_antismash_results/regions.js
Abobie1_antismash_results/scaffold_1.region001.gbk
Abobie1_antismash_results/scaffold_1.region002.gbk
Abobie1_antismash_results/scaffold_14.region001.gbk
Abobie1_antismash_results/scaffold_19.region001.gbk
Abobie1_antismash_results/scaffold_21.region001.gbk
Abobie1_antismash_results/scaffold_32.region001.gbk
Abobie1_antismash_results/scaffold_33.region001.gbk
Abobie1_antismash_results/scaffold_34.region001.gbk
Abobie1_antismash_results/scaffold_35.region001.gbk
Abobie1_antismash_results/scaffold_37.region001.gbk
Abobie1_antismash_results/scaffold_4.region001.gbk
Abobie1_antismash_results/scaffold_4.region002.gbk
Abobie1_antismash_results/scaffold_4.region003.gbk
Abobie1_antismash_results/scaffold_4.region004.gbk
Abobie1_antismash_results/scaffold_43.region001.gbk
Abobie1_antismash_results/scaffold_5.region001.gbk
Abobie1_antismash_results/scaffold_55.region001.gbk
Abobie1_antismash_results/scaffold_7.region001.gbk
Abobie1_antismash_results/scaffold_8.region001.gbk
Abobie1_antismash_results/scaffold_9.region001.gbk
Abobie1_antismash_results/subclusterblastoutput.txt
Abobie1_antismash_results/clusterblast/scaffold_14_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_19_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_1_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_1_c2.txt
Abobie1_antismash_results/clusterblast/scaffold_21_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_32_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_33_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_34_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_35_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_37_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_43_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_4_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_4_c2.txt
Abobie1_antismash_results/clusterblast/scaffold_4_c3.txt
Abobie1_antismash_results/clusterblast/scaffold_4_c4.txt
Abobie1_antismash_results/clusterblast/scaffold_55_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_5_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_7_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_8_c1.txt
Abobie1_antismash_results/clusterblast/scaffold_9_c1.txt
Abobie1_antismash_results/css/fungi.css
Abobie1_antismash_results/images/about.svg
Abobie1_antismash_results/images/bacteria_about.png
Abobie1_antismash_results/images/bacteria_antismash_icon.svg
Abobie1_antismash_results/images/bacteria_antismash_logo.svg
Abobie1_antismash_results/images/bacteria_antismash_white.svg
Abobie1_antismash_results/images/bacteria_download.png
Abobie1_antismash_results/images/bacteria_help.png
Abobie1_antismash_results/images/bacteria_home.png
Abobie1_antismash_results/images/bacteria_logo.png
Abobie1_antismash_results/images/contact.svg
Abobie1_antismash_results/images/download.svg
Abobie1_antismash_results/images/expand-arrows-alt-solid.svg
Abobie1_antismash_results/images/external-link-alt-solid.svg
Abobie1_antismash_results/images/fungi_about.png
Abobie1_antismash_results/images/fungi_antismash_icon.svg
Abobie1_antismash_results/images/fungi_antismash_icon_white.svg
Abobie1_antismash_results/images/fungi_antismash_logo.svg
Abobie1_antismash_results/images/fungi_download.png
Abobie1_antismash_results/images/fungi_help.png
Abobie1_antismash_results/images/fungi_home.png
Abobie1_antismash_results/images/fungi_logo.png
Abobie1_antismash_results/images/help.svg
Abobie1_antismash_results/images/mail.png
Abobie1_antismash_results/images/minus-circle.svg
Abobie1_antismash_results/images/nostructure_icon.png
Abobie1_antismash_results/images/plant_antismash_icon.svg
Abobie1_antismash_results/images/plant_antismash_icon_white.svg
Abobie1_antismash_results/images/plus-circle.svg
Abobie1_antismash_results/images/question-circle-solid.svg
Abobie1_antismash_results/images/search-solid.svg
Abobie1_antismash_results/js/antismash.js
Abobie1_antismash_results/js/jquery.js
Abobie1_antismash_results/js/jquery.tablesorter.min.js
Abobie1_antismash_results/knownclusterblast/scaffold_14_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_19_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_1_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_1_c2.txt
Abobie1_antismash_results/knownclusterblast/scaffold_21_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_32_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_33_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_34_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_35_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_37_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_43_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_4_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_4_c2.txt
Abobie1_antismash_results/knownclusterblast/scaffold_4_c3.txt
Abobie1_antismash_results/knownclusterblast/scaffold_4_c4.txt
Abobie1_antismash_results/knownclusterblast/scaffold_55_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_5_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_7_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_8_c1.txt
Abobie1_antismash_results/knownclusterblast/scaffold_9_c1.txt
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_254721_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_457491_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_611814_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_697150_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_709739_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_714460_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_714989_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_717278_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_719131_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_724192_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_724807_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_724906_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_724986_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_725444_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_726900_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_728189_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_728812_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_734472_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_736511_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_748083_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_750682_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_761853_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_780378_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_785918_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_797220_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_799165_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_801473_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_806360_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_807575_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_807576_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_810454_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_810674_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_812059_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_858671_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_868647_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_879478_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_885706_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region1/jgi.p_Abobie1_891340_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region2/jgi.p_Abobie1_29361_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region2/jgi.p_Abobie1_458059_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region2/jgi.p_Abobie1_711945_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region2/jgi.p_Abobie1_803456_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region2/jgi.p_Abobie1_845338_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region2/jgi.p_Abobie1_862185_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region3/jgi.p_Abobie1_711681_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region3/jgi.p_Abobie1_711890_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region3/jgi.p_Abobie1_746868_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region4/jgi.p_Abobie1_711596_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region4/jgi.p_Abobie1_711883_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region4/jgi.p_Abobie1_711913_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region4/jgi.p_Abobie1_803579_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region4/jgi.p_Abobie1_803585_mibig_hits.html
Abobie1_antismash_results/knownclusterblast/region4/jgi.p_Abobie1_847801_mibig_hits.html
Abobie1_antismash_results/svg/clusterblast_r14c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_10.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_4.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_5.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_6.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_7.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_8.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_9.svg
Abobie1_antismash_results/svg/clusterblast_r14c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_10.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_4.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_5.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_6.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_7.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_8.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_9.svg
Abobie1_antismash_results/svg/clusterblast_r19c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_10.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_4.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_5.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_6.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_7.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_8.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_9.svg
Abobie1_antismash_results/svg/clusterblast_r1c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_1.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_10.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_2.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_3.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_4.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_5.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_6.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_7.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_8.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_9.svg
Abobie1_antismash_results/svg/clusterblast_r1c2_all.svg
Abobie1_antismash_results/svg/clusterblast_r21c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r32c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r32c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r33c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r33c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r33c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r33c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_4.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_5.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_6.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_7.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_8.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_9.svg
Abobie1_antismash_results/svg/clusterblast_r34c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_4.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_5.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_6.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_7.svg
Abobie1_antismash_results/svg/clusterblast_r35c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r37c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_10.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_4.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_5.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_6.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_7.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_8.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_9.svg
Abobie1_antismash_results/svg/clusterblast_r43c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r4c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r4c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_1.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_10.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_2.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_3.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_4.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_5.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_6.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_7.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_8.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_9.svg
Abobie1_antismash_results/svg/clusterblast_r4c2_all.svg
Abobie1_antismash_results/svg/clusterblast_r4c3_1.svg
Abobie1_antismash_results/svg/clusterblast_r4c3_all.svg
Abobie1_antismash_results/svg/clusterblast_r4c4_1.svg
Abobie1_antismash_results/svg/clusterblast_r4c4_2.svg
Abobie1_antismash_results/svg/clusterblast_r4c4_3.svg
Abobie1_antismash_results/svg/clusterblast_r4c4_4.svg
Abobie1_antismash_results/svg/clusterblast_r4c4_all.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_3.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_4.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_5.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_6.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_7.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_8.svg
Abobie1_antismash_results/svg/clusterblast_r55c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r5c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r7c1_1.svg
Abobie1_antismash_results/svg/clusterblast_r7c1_2.svg
Abobie1_antismash_results/svg/clusterblast_r7c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r8c1_all.svg
Abobie1_antismash_results/svg/clusterblast_r9c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r14c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r19c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r1c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r1c2_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r21c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r32c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r33c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r34c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r35c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r37c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r43c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r4c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r4c2_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r4c3_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r4c4_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r55c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r5c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r7c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r8c1_all.svg
Abobie1_antismash_results/svg/knownclusterblast_r9c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r14c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r19c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r1c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r1c2_all.svg
Abobie1_antismash_results/svg/subclusterblast_r21c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r32c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r33c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r34c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r35c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r37c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r43c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r4c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r4c2_all.svg
Abobie1_antismash_results/svg/subclusterblast_r4c3_all.svg
Abobie1_antismash_results/svg/subclusterblast_r4c4_all.svg
Abobie1_antismash_results/svg/subclusterblast_r55c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r5c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r7c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r8c1_all.svg
Abobie1_antismash_results/svg/subclusterblast_r9c1_all.svg
echantillon_gbk/Abobie1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Amylap1_1_AssemblyScaffolds.gbk
echantillon_gbk/Amylap1_1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Amysub1_AssemblyScaffolds.gbk
echantillon_gbk/Amysub1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Anoalb1_AssemblyScaffolds.gbk
echantillon_gbk/Anoalb1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Anobom1_AssemblyScaffolds.gbk
echantillon_gbk/Anobom1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Anomyc1_AssemblyScaffolds.gbk
echantillon_gbk/Anomyc1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Antcit1_AssemblyScaffolds.gbk
echantillon_gbk/Antcit1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Antser1_AssemblyScaffolds.gbk
echantillon_gbk/Antser1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Antsi1_AssemblyScaffolds.gbk
echantillon_gbk/Antsi1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Aphpse1_AssemblyScaffolds.gbk
echantillon_gbk/Aphpse1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Armbor1_AssemblyScaffolds.gbk
echantillon_gbk/Armbor1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Armga1_AssemblyScaffolds.gbk
echantillon_gbk/Armga1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Armme1_1_AssemblyScaffolds.gbk
echantillon_gbk/Armme1_1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Armost1_AssemblyScaffolds.gbk
echantillon_gbk/Armost1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Armosto1_AssemblyScaffolds.gbk
echantillon_gbk/Armosto1_AssemblyScaffolds.gbk.gz
echantillon_gbk/Artel1_AssemblyScaffolds.gbk
echantillon_gbk/Artel1_AssemblyScaffolds.gbk.gz
